<div class="row clearfix" [@routerTransition]>
  <app-sub-toolbar (searchStart)="searchControl.setValue($event)" searchTip="搜索构件编号" [isSearching]="isTableLoading">
    <div>排产计划列表 <i class="fa fa-spin fa-spinner" *ngIf="isTableLoading"></i></div>
    <div>
      <button mat-icon-button color="default" appToolbarSearch>
        <mat-icon aria-label="搜索" matTooltip="搜索构件编号">search</mat-icon>
      </button>
      <button mat-icon-button color="default" (click)="downloadQrCodes()" [disabled]="stateChanger.states['downloadingQrCodesZip']">
        <mat-icon aria-label="创建并下载二维码" matTooltip="创建并下载二维码，构件过多的情况下会需要几分钟来生成二维码">get_app</mat-icon>
      </button>
      <button mat-icon-button color="default" (click)="refresh();">
        <mat-icon aria-label="刷新" matTooltip="刷新">refresh</mat-icon>
      </button>
    </div>
  </app-sub-toolbar>
  <mat-card>
    <div class="row clearfi">
      <div class="col-sm-6">
        <app-project-autocomplete (onOptionSelected)="project=$event;stateChanger.next('projectPlan')"></app-project-autocomplete>
      </div>
      <div class="col-sm-6">
        <app-procedure-autocomplete (onOptionSelected)="procedure=$event;stateChanger.next('projectPlan')"></app-procedure-autocomplete>
      </div>
    </div>
  </mat-card>
  <div class="table-responsive">
    <table class="table table-hover clear-margin">
      <thead>
      <tr>
        <th>{{l('构件编号')}}</th>
        <th>{{l('创建时间')}}</th>
        <th>{{l('计划结束')}}</th>
        <th>{{l('批次号')}}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="subProjects && subProjects.length < 1"><td colspan="5" class="text-center">构件列表为空...</td></tr>
      <tr [@switchIn] *ngFor="let subProject of subProjects | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
        <td>{{subProject.code}}</td>
        <td>{{subProject.creationTime.fromNow()}}</td>
        <td>{{subProject.estimatedFinishedTime | date}}</td>
        <td>{{subProject.batchNum}}</td>
        <td>
          <button mat-icon-button [routerLink]="['/app/home/relational-info', {backUrl: router.url}]" [queryParams]="{id: subProject.id}">
            <mat-icon>details</mat-icon>
          </button>
          <button mat-icon-button (click)="delete(subProject)"><mat-icon>delete</mat-icon></button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="sys-ngx-pagination" *ngIf="totalItems > pageSize">
      <pagination-controls (pageChange)="getDataPage($event)" id="server" previousLabel="上一页" nextLabel="下一页"></pagination-controls>
    </div>
  </div>
  <app-button-group>
    <button mat-fab color="primary" type="button" (click)="addPlanModal.show()"><mat-icon>add</mat-icon></button>
  </app-button-group>
</div>

<app-add-plan #addPlanModal (modalSave)="refresh()"></app-add-plan>
