.crosswise-layout .layout-content {
  position: relative;
  background: white;
  overflow: hidden;
  cursor: pointer;
  /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);*/
}
.crosswise-layout .layout-content .headers {
  margin-top: -12px;
  text-align: left;
  height: 40px;
  line-height: 36px;
  font-size: 16px;
  position: relative;
  margin-right: -12px;
}
.crosswise-layout .layout-content .crosswise-content {
  margin-bottom: unset !important;
  text-align: center;
  height: 300px;
  line-height: 300px;
}
