<div class="row" [@routerTransition]>
  <app-sub-toolbar [isSearching]="isTableLoading" searchTip="搜索报表模板">
    <h4> {{l('报表模板')}} <i class="fa fa-spin fa-spinner" *ngIf="isTableLoading"></i></h4>
    <div>
      <button mat-icon-button color="default">
        <mat-icon aria-label="刷新" matTooltip="刷新" (click)="refresh()">refresh</mat-icon>
      </button>
      <button mat-icon-button color="default">
        <mat-icon aria-label="帮助" matTooltip="帮助" (click)="gotoHelp('help3')">help</mat-icon>
      </button>
    </div>
  </app-sub-toolbar>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>{{l('模板名称')}}</th>
        <th>{{l('大小')}}</th>
        <th>{{l('上传时间')}}</th>
        <th>{{l('操作')}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of fileItems | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
        <td>{{item.fileName}}</td>
        <td>{{item.fileSize}}</td>
        <td>{{item.creationTime | date}}</td>
        <td>
          <button mat-icon-button (click)="openDialog(item)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button (click)="delete(item)" color="warn"><mat-icon>delete</mat-icon></button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="sys-ngx-pagination" *ngIf="totalItems > pageSize">
      <pagination-controls (pageChange)="getDataPage($event)" id="server" nextLabel="下一页" previousLabel="上一页"></pagination-controls>
    </div>
  </div>
  <app-button-group>
    <input type="file" style="display: none;" (input)="changeFile($event)" required #fileInput>
    <button mat-fab color="primary" type="button" (click)="fileInput.click()"><mat-icon>add</mat-icon></button>
  </app-button-group>
</div>
