<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
  </appSettings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <PropertyGroup>
    <TargetFramework>netcoreapp2.1</TargetFramework>
    <RuntimeIdentifier>win81-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <IsTransformWebConfigDisabled>false</IsTransformWebConfigDisabled>
  </PropertyGroup>
</configuration>
