<div class="row">
  <app-sub-toolbar>
    <h4>我的任务 <i class="fa fa-spin fa-spinner" *ngIf="isTableLoading"></i></h4>
    <div>
      <button mat-icon-button color="default">
        <mat-icon aria-label="刷新" matTooltip="刷新" (click)="refresh()">refresh</mat-icon>
      </button>
    </div>
  </app-sub-toolbar>
  <div style="padding:16px;display:flex;align-items:center;justify-content:center;" *ngIf="!taskItemAssignments"
       [@fadeIn]>
    <mat-spinner></mat-spinner>
  </div>
  <div class="group-card-row">
    <ng-container *ngFor="let assignment of taskItemAssignments">
      <!--普通任务-->
      <div class="col-xs-12 col-sm-12 col-md-4 clear-padding" *ngIf="!assignment.isForwarded" [@fadeIn]>
        <mat-card>
          <div class="font-bold with-icon-text-container">
            {{assignment.taskItem.name}}
            <button mat-icon-button matTooltip="开始填写任务" routerLink="./{{assignment.id}}" color="default">
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
          <ul class="dashboard-stat-list">
            <li class="with-icon-text-container">
              <span matTooltip="创建时间 {{assignment.creationTime.format('YYYY-MM-DD ')}}">
                <i class="material-icons">schedule</i> {{assignment.creationTime.fromNow()}}
              </span>
            </li>
            <li class="with-icon-text-container">
              <span matTooltip="委派人">
                <i class="material-icons">assignment_ind</i> {{assignment.creatorUser.name}}
              </span>
            </li>
            <li class="with-icon-text-container" *ngIf="assignment.subProject">
              <span matTooltip="构件编号">
                <i class="material-icons">format_list_numbered</i>{{assignment.subProject.code}}
              </span>
              <button mat-icon-button matTooltip="查看构件信息" [queryParams]="{id: assignment.subProject.id}"
                      color="default" [routerLink]="['/app/home/relational-info', {backUrl: router.url}]">
                <mat-icon>details</mat-icon>
              </button>
            </li>
          </ul>
        </mat-card>
      </div>
      <!-- 转发评论任务 -->
      <div class="col-xs-12 col-sm-12 col-md-4 clear-padding" *ngIf="assignment.isForwarded" [@fadeIn]>
        <mat-card>
          <div class="font-bold with-icon-text-container">
            <span><span class="label bg-green">转发任务</span>{{assignment.taskItem.name}}</span>
            <button mat-icon-button matTooltip="回复任务" routerLink="./{{assignment.id}}" color="default">
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
          <ul class="dashboard-stat-list">
            <li class="with-icon-text-container">
              <span matTooltip="转发时间 {{assignment.creationTime.format('YYYY-MM-DD ')}}">
                <i class="material-icons">schedule</i> {{assignment.creationTime.fromNow()}}
              </span>
            </li>
            <li class="with-icon-text-container">
              <span matTooltip="转发人">
                <i class="material-icons">swap_vert</i> {{assignment.creatorUser.name}}
              </span>
            </li>
            <li class="with-icon-text-container" *ngIf="assignment.subProject">
              <span matTooltip="构件编号">
                <i class="material-icons">format_list_numbered</i>{{assignment.subProject.code}}
              </span>
              <button mat-icon-button matTooltip="查看构件信息" [queryParams]="{id: assignment.subProject.id}"
                      color="default" [routerLink]="['/app/home/relational-info', {backUrl: router.url}]">
                <mat-icon>details</mat-icon>
              </button>
            </li>
          </ul>
        </mat-card>
      </div>
    </ng-container>
    <!-- 暂无任务提示 -->
    <div class="col-xs-12 col-sm-12 col-md-4 clear-padding" *ngIf="taskItemAssignments && taskItemAssignments.length < 1">
      <mat-card>
        <div class="font-bold" style="display:flex;align-items:center;">
          <mat-icon class="m-r-10">mood</mat-icon>暂无任务
        </div>
        <ul class="dashboard-stat-list"></ul>
      </mat-card>
    </div>
  </div>
</div>
