.sidebar {
  height: calc(100vh - 64px);
  top: 64px;
  transition: margin-left 0.5s;
  overflow: auto;
}
section.content {
  margin: 128px 0 0 280px;
  bottom: auto;
  height: calc(100vh - 128px);
}
@media (max-width: 1169px) {
  section.content {
    margin-left: 0;
  }
}
