<form [formGroup]="changePasswordForm" class="form-container">
  <div class="row">
    <div class="col-sm-6">
      <mat-form-field appearance="outline">
        <mat-label>当前密码</mat-label>
        <input matInput placeholder="请输入当前密码" type="password" formControlName="currentPassword" required minlength="6">
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline">
        <mat-label>新密码</mat-label>
        <input matInput placeholder="请输入新密码" type="password" formControlName="newPassword" required minlength="6">
      </mat-form-field>
    </div>
    <div class="col-sm-offset-6 col-sm-6">
      <mat-form-field appearance="outline">
        <mat-label>确认新密码</mat-label>
        <input matInput placeholder="确认新密码" type="password" formControlName="confirmedPassword" required minlength="6">
        <mat-error *ngIf="changePasswordForm.get('confirmedPassword').errors?.notEqual">两次输入的密码不同</mat-error>
      </mat-form-field>
    </div>
  </div>
  <app-button-group>
    <button mat-fab color="primary" type="submit" [disabled]="!changePasswordForm.valid" (click)="changePassword()">
      <mat-icon>check</mat-icon>
    </button>
  </app-button-group>
</form>
