<div class="row clearfix" [@routerTransition]>
    <div class="bigbox col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    项目概览
                </h2>
            </div>
            <div class="contentBox body table-responsive">
                <div class="contentLeft col-xs-6">
                    <div class="leftContent">
                        <div class="livingExample col-xs-12">任务分派</div>
                        <div class="col-xs-12 col-md-3 itemize">
                            总数量
                            <div style="color:#09C !important;">
                                0
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 itemize">
                            运行中
                            <div style="color:#090  !important;">
                                0
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 itemize">
                            即将过期
                            <div style="color:#f00 !important;">
                                0
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 itemize">
                            已过期
                            <div style="color:#f00 !important;">
                                0
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contentRight col-xs-6">
                    <div class="rightContent">
                        <div class="livingExample col-xs-12">问题汇总</div>
                        <div class="col-xs-12 col-md-6 itemize">
                            安全问题
                            <div style="color:#09C !important;">
                                0 <span style="color:#CCC !important;"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 itemize">
                            质量问题
                            <div style="color:#09C !important;">
                                0
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bigbox col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    安全概览
                </h2>
            </div>
            <div class="contentBox body table-responsive">
                <div class="col-xs-2 col-md-2 infoImg">
                    <img src="../../../favicon.ico" alt="">
                </div>
                <div class="contentLeft col-xs-4 col-md-4" style="padding-left:5px !important">
                    <div class="leftContent">
                        <div class="livingExample col-xs-12">安全预防</div>
                        <div class="col-xs-12 col-md-6 itemize">
                            待处理问题
                            <div style="color:#09C !important;">
                                8
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 itemize">
                            检查
                            <div style="color:#09C !important;">
                                10
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contentRight col-xs-6 col-md-6">
                    <div class="rightContent">
                        <div class="livingExample col-xs-12">质量检查</div>
                        <div class="col-xs-12 col-md-4 itemize">
                            预应力
                            <div style="color:#09C !important;">
                                23
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 itemize">
                            xxx
                            <div style="color:#09C  !important;">
                                10
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 itemize">
                            其他
                            <div style="color:#09C !important;">
                                0
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bigbox col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    生产运行状态
                </h2>
            </div>
            <div class="contentBox body table-responsive">
                <div class="cardBox col-md-6 col-sm-6 col-xs-12">
                    <div class="cardContent">
                        <div class="titelBox col-xs-12">
                            呼和浩特项目
                        </div>
                        <div class="cardLeftContent col-md-6 col-sm-6 col-xs-6">
                            已生产数量
                            <span>123</span>
                        </div>
                        <div class="cardRightContent col-md-6 col-sm-6 col-xs-6">
                            <div class="col-md-12 col-sm-12 col-xs-12 one">
                                <span class="col-md-3 col-sm-3 col-xs-3">
                                    <i class="material-icons">check_circle_outline</i>
                                </span>
                                <span class="col-md-7 col-sm-7 col-xs-7">绑扎台</span>
                                <span style="color: #090;" class="col-md-2 col-sm-2 col-xs-2">4</span>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 two">
                                <span class="col-md-3 col-sm-3 col-xs-3">
                                    <i class="material-icons">add_circle_outline</i>
                                </span>
                                <span class="col-md-7 col-sm-7 col-xs-7">制梁台</span>
                                <span class="col-md-2 col-sm-2 col-xs-2">40</span>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 three">
                                <span class="col-md-3 col-sm-3 col-xs-3">
                                    <i class="material-icons">timer</i>
                                </span>
                                <span class="col-md-7 col-sm-7 col-xs-7">存梁台</span>
                                <span style="color: #F00;" class="col-md-2 col-sm-2 col-xs-2">136</span>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 four">
                                <span class="col-md-3 col-sm-3 col-xs-3">
                                    <i class="material-icons">timer_off</i>
                                </span>
                                <span class="col-md-7 col-sm-7 col-xs-7">已安装</span>
                                <span style="color: #F00;" class="col-md-2 col-sm-2 col-xs-2">30</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cardBox col-md-6 col-sm-6 col-xs-12">
                    <div class="cardContent">
                        <div class="titelBox col-xs-12">
                            项目2
                        </div>
                        <div class="cardLeftContent col-md-6 col-sm-6 col-xs-6">
                            已生产数量
                            <span>123</span>
                        </div>
                        <div class="cardRightContent col-md-6 col-sm-6 col-xs-6">
                            <div class="col-md-12 col-sm-12 col-xs-12 one">
                                <span class="col-md-3 col-sm-3 col-xs-3">
                                    <i class="material-icons">check_circle_outline</i>
                                </span>
                                <span class="col-md-7 col-sm-7 col-xs-7">绑扎台</span>
                                <span style="color: #090;" class="col-md-2 col-sm-2 col-xs-2">4</span>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 two">
                                <span class="col-md-3 col-sm-3 col-xs-3">
                                    <i class="material-icons">add_circle_outline</i>
                                </span>
                                <span class="col-md-7 col-sm-7 col-xs-7">制梁台</span>
                                <span class="col-md-2 col-sm-2 col-xs-2">40</span>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 three">
                                <span class="col-md-3 col-sm-3 col-xs-3">
                                    <i class="material-icons">timer</i>
                                </span>
                                <span class="col-md-7 col-sm-7 col-xs-7">存梁台</span>
                                <span style="color: #F00;" class="col-md-2 col-sm-2 col-xs-2">136</span>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 four">
                                <span class="col-md-3 col-sm-3 col-xs-3">
                                    <i class="material-icons">timer_off</i>
                                </span>
                                <span class="col-md-7 col-sm-7 col-xs-7">已安装</span>
                                <span style="color: #F00;" class="col-md-2 col-sm-2 col-xs-2">30</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>