<div *ngIf="isCameraOpen" [@openComponent] class="camera-interface">
  <div class="camera-container">
    <div class="camera-header">
      <!--这里不一定使用路由，可以考虑使用事件销毁组件，或者用动态加载的组件来加载相机-->
      <i class="material-icons back-button" matRipple (click)="ngOnDestroy()">arrow_back</i>
    </div>
    <video #camera autoplay="autoplay" style="width: 100%;height: 100%"></video>
    <div class="camera-buttons">
      <button mat-fab (click)="takePhoto()" color="default">
        <mat-icon aria-label="Take Photo">photo_camera</mat-icon>
      </button>
      <button mat-fab (click)="switchCameras()" color="default">
        <mat-icon aria-label="Switch Camera">cached</mat-icon>
      </button>
    </div>
  </div>
  <div class="photo-container" [ngClass]="{'display-photo': !isTakingPhoto}">
    <canvas #cameraCanvas width="640" height="480"></canvas>
    <div class="camera-buttons">
      <button mat-fab (click)="check()" color="default" [disabled]="isConverting">
        <mat-icon aria-label="Take Photo">check</mat-icon>
      </button>
      <button mat-fab (click)="cancel()" color="default" [disabled]="isConverting">
        <mat-icon aria-label="Take Photo">clear</mat-icon>
      </button>
    </div>
  </div>
</div>
